#work h2 {
	font-family: futura-pt, Futura, "Helvetica Neue", Helvertica, Arial, sans-serif;
	text-align: center;
	color: rgb(26,25,23);
	letter-spacing: 2px;
	font-size: 19px;
	margin: 8px 0 8px 0;
}

#work {
	margin-top: 50px;
}
.borderB {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.thumbnails {
	margin-left: 40px;
}

.thumbnails li {
	display: inline-block;
	padding: 20px 20px 20px 20px;
}

.thumbnails img {
	border: 1px solid black;
	opacity: 0.8;
}

.thumbnails img:hover {
	opacity: 1;
}

#about {
	margin-top: 50px;
}
#about h2 {
	font-family: futura-pt, Futura, "Helvetica Neue", Helvertica, Arial, sans-serif;
	text-align: center;
	color: rgb(26,25,23);
	letter-spacing: 2px;
	font-size: 19px;
	margin: 8px 0 8px 0;
}

.bio {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 15px 0 0 0;
}

.social img {
	background-color: rgb(26,25,23);
	border-radius: 50%;
}

.social img:hover {
	background-color: rgb(255,155,69);
	
}
.social li {
	display: inline-block;
	padding: 0 10px 0 0;
}

.social ul {
	padding: 30px 0 0 50px;
	margin: 0 auto;
	width: 240px;
}

#like img, h3 {
	display: inline-block;
}

#like {
	text-align: center;
}

#like h3 {
	text-transform: uppercase;
	font-family: futura-pt, Futura, "Helvetica Neue", Helvertica, Arial, sans-serif ;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
	background-color: rgb(255,155,69);
	color: white;
	padding: 10px 10px;
}
.border-like {
	margin-right: -4px;
}


