.work h2 {
	font-family: futura-pt, Futura, "Helvetica Neue", Helvertica, Arial, sans-serif;
	text-align: center;
	color: rgb(26,25,23);
	letter-spacing: 2px;
	font-size: 19px;
}

.work {
	margin-top: 50px;
}